<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pethr.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C20673ED9AA3B65DB03654DFE306B864C515B705</string>
				<key>dateExpires</key>
				<string>2018/11/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7378A779D5.com.xunsheng.pethr</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7378A779D5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>7378A779D5.com.xunsheng.pethr</string>
				</array>
			</dict>
			<key>name</key>
			<string>Pethr.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ca5cf8eb-a40b-4bcf-ab08-0745561dace8</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.xunsheng.pethr</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7378A779D5</string>
				<key>name</key>
				<string>Suzhou Xunsheng Information Technology Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
